<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Has @nilsding reach 1000 follower?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Has @nilsding reach 1000 follower?">
    <meta name="author" content="@l33tname">
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto&button=compact';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */
  </script>
  </head>

  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
